*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: PopinsRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face{
    font-family: PopinsBold;
    src: url(./fonts/Poppins-Bold.ttf);
}


body{
    font-family: PopinsRegular;
    background-color: #DADADA;
}

nav{
    overflow: hidden;
    position: fixed;
    background-color: #FFC017;
    min-height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    justify-self: center;
    border-bottom: 1px solid black;
}

.logo{
    font-family: PopinsBold;
    font-size: 24px;
}

.menu a{
    display: inline;
    color: black;
    font-size: 16px;
    padding: 0px 10px;
    text-decoration: none;
}

.menu p{
    display: inline;
    color: black;
    font-size: 16px;
    padding: 0px 10px;
}

.menu .button{
    display: inline;
    padding: 10px 20px;
    margin: 0px 15px;
    color: white;
    font-size: 16px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 7px;
}

.menu .logout{
    display: inline;
    padding: 10px 20px;
    margin: 0px 15px;
    color: white;
    font-size: 16px;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 7px;
}

.details{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    background-color: #FFC017;
    border-bottom: 1px solid black;
}

.details-text{
    grid-column: 2/3;
    margin-top: 10vh;
}

.details-text h1{
    font-size: 64px;
    margin-top: 30px;
}

.details-text h3{
    font-size: 24px;
    font-family: PopinsRegular;
    margin-bottom: 30px;
}

.details-text .button{
    margin: 20px 0px 20px 0px;
    padding: 10px 20px;
    background-color: #FFC017;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
}

.details img{
    grid-column: 3/4;
    width: 400px;
    height: 400px;
    justify-self: center;
    justify-content: center;
    margin: 10vh;
    padding: 20px 20px;
}

.posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px 20px;
}

.post{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
}

.post img{
    height: 240px;
    width: 180px;
    margin-right: 10px;
}

.post-content{
    width: 60%;
}

.post-details{
    font-size: 16px;
}

.post h3{
    font-family: PopinsBold;
    font-size: 36px;
}

.subheading{
    font-size: 30px;
}

.info{
    font-size: 16px;
    margin-top: 10px;
    color: grey;
}

.post span{
    color: grey;
}

.auth-form{
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 40%;
    top: 10%;
    left: 10%;
    border: 2px solid #FFC017;
    border-radius: 10px;
}

.register{
    top: 2%;
    overflow: hidden;
}

.auth-form h3{
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFC017;
}

.input-field{
    margin: 20px 20px;
}

.input-field label{
    font-size: 24px;
    margin: 0px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field textarea{
    width: 100%;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus{
    border: 2px solid #b6b8ba94;
}

.submit{
    background-color: white;
    margin: 20px 20px 30px 10px;
    font-size: 16px;
    color: #1172d4;
    padding: 12px 20px;
    border: 2px solid #1172d4;
    border-radius: 6px;
    float: right;
    height: 50px;
}

.submit:hover{
    color: white;
    background-color: #1172d4;
}

.close{
    background-color: white;
    height: 50px;
    margin: 20px 30px 30px 5px;
    font-size: 16px;
    color: red;
    padding: 12px 20px;
    border: 2px solid red;
    border-radius: 6px;
    float: right;
    text-decoration: none;
}

.close:hover{
    color: white;
    background: red;
}

.img-right{
    float: right;
    margin-top: 5%;
    margin-right: 40px;
    height: 60%;
    width: 50%;
}

.error{
    color: red;
    font-size: 18px;
    text-align: center;
}

.dashboard{
    position: absolute;
    top: 15vh;
    z-index: 1;
    background-color: white;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    padding: 20px 20px;
}

.top-block{
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.top-block a{
    display: block;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

#posts {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

#posts td, #posters th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #posts tr:nth-child(even){background-color: #f2f2f2;}
  
  #posts tr:hover {background-color: #ddd;}
  
  #posts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #512391;
    color: white;
  }

.post-form{
    position: absolute;
    background-color: white;
    z-index: -1;
    width: 80%;
    top: 15vh;
    left: 10%;
    border-radius: 10px;
}